@import "~shared/style/mixins";

.text-display-container {
    display: flex;
    align-items: center;
    height: 100%;

    .text-container {
        @include generalFont;
        padding-left: 25px;
        text-align: justify;
        word-break: keep-all;
    }

    .image {
        width: 200px;
    }
}
