@import "~shared/style/mixins";

.text-display-container {
    display: flex;
    align-items: center;
    width: 400px;
    height: 100%;

    .text-container {
        @include generalFont;
        padding-left: 25px;
    }

    .image {
        width: 400px;
    }
}
