.single-program-parent-container {
    display: block;

    .top-container {
        display: flex;
        height: 30%;
        width: 100%;
    }

    .bottom-container {
        display: flex;
        justify-content: space-between;
        height: 70%;
        margin-top: 10px;

        .description {
            width: 40%;
            border: 1px solid #c1c1c1;
        }

        .video {
            display: flex;
            height: 500px;
            min-width: 800px;
            max-width: 60%;
            margin-left: 10px;

            iframe {
                min-width: inherit;
                height: inherit;
            }
        }
    }

    .image {
        height: 500px;
        min-width: 800px;
        max-width: 60%;
    }
}
