@import "~shared/style/mixins.scss";

.single-program-parent-container {
    display: block;

    .top-container {
        display: flex;
        height: 30%;
        width: 100%;
    }

    .bottom-container {
        display: flex;
        justify-content: space-between;
        height: 70%;
        margin-top: 10px;

        .description {
            height: fit-content;
            width: 40%;
            min-width: 290px;
            padding: 10px;

            @include generalFont;
            text-align: justify;
            word-break: keep-all;
            line-height: 30px;
        }

        .video {
            display: flex;
            height: 500px;
            min-width: 800px;
            max-width: 60%;
            margin-left: 10px;

            iframe {
                min-width: inherit;
                height: inherit;
            }
        }
    }

    .image {
        height: 500px;
        min-width: 800px;
        max-width: 60%;
    }
}
