@import "~shared/style/mixins";
@import "~shared/style/colors";
@import "~shared/style/variables";

.about-parent-container {
    display: flex;
    flex-direction: column;

    .outer-container {
        display: block;
        background-color: #fff;
    }

    .title {
        height: 50px;
        font-weight: 700;
        font-size: 30px;
    }

    .mission-parent-container {
        min-height: 400px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .mission {
            display: flex;
            flex-direction: column;
            height: 300px;
        }

        .single-program {
            display: flex;
            flex-direction: column;
            width: 30%;
            margin: 10px;

            .single-program-title {
                margin: 10px 0;
                width: 100%;
                font-weight: 700;
                font-size: 22px;
            }

            .single-program-image {
                width: 80px;
                height: 80px;
            }

            .content {
                line-height: 30px;
                text-align: justify;
                word-break: keep-all;
            }
        }
    }
}
