@import "~shared/style/mixins";

.board-parent-container {
    display: flex;
    align-items: flex-start;

    .left-container {
        .board-title {
            @include headerButton;
            text-decoration: underline;
            font-size: 30px;
        }

        .profile {
            margin: 10px 0;
        }
    }

    .right-container {
        margin: auto 50px auto 100px;
    }
}
