@import "~shared/style/mixins";

.board-parent-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .left-container {
        .board-title {
            @include headerButton;
            text-decoration: underline;
        }
    }

    .right-container {
        padding-left: 100px;
        width: 45%;
    }
}
