@import "~shared/style/mixins";
@import "~shared/style/colors";

.contact-page-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    float: left;

    .contact-title {
        @include headerButton;
    }

    .contact-content {
        padding-top: 25px;
    }
}
