@import "~shared/style/mixins.scss";

.donation-page-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .donation-title {
        font-weight: 700;
        font-size: 30px;
        height: 40px;
        margin-bottom: 25px;
    }

    .bottom-container {
        position: relative;
        height: 100%;
        display: flex;
        justify-content: space-between;

        .left-container {
            height: fit-content;
            width: 45%;
            border-radius: 4px;
            padding: 10px;

            @include generalFont;
            text-align: justify;
            word-break: keep-all;
            line-height: 30px;
        }

        .right-container {
            position: absolute;
            right: 0;
            border: 1px solid black;
            margin-left: 20px;
            height: 100%;
            width: 45%;
            overflow: scroll;
            padding: 10px;

            .video-title {
                padding-left: 10px;
                height: 50px;
                font-size: 16px;
                text-decoration: underline;
            }

            .video {
                position: relative;
                display: flex;
                height: 300px;
                margin: 0 10px;

                iframe {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
