@import "~shared/style/mixins.scss";

.donation-page-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .donation-title {
        @include headerButton;
        height: 40px;
        margin-bottom: 25px;
    }

    .bottom-container {
        position: relative;
        height: 100%;

        .left-container {
            position: absolute;
            overflow: hidden;
            height: 100%;
            width: 45vw;
            border: 2px solid #c1c1c1;
            border-radius: 4px;
            padding-left: 10px;

            @include generalFont;
            text-align: justify;
            word-break: keep-all;
        }

        .right-container {
            position: absolute;
            right: 0;
            border: 2px solid #c1c1c1;
            border-radius: 4px;
            margin-left: 20px;
            height: 100%;
            width: 45vw;
            overflow: scroll;

            .video-title {
                padding-left: 10px;
                height: 50px;
                font-size: 16px;
                text-decoration: underline;
            }

            .video {
                padding-left: 10px;
                height: 300px;
            }
        }
    }
}
