@import "~shared/style/mixins";

$GRID_ROW_GAP: 58px;
$GRID_COL_GAP: 52px;

.financial-page-parent-container {
    display: flex;
    flex-direction: column;
    .finance-title {
        @include headerButton;
        margin-bottom: 25px;
    }

    .download-container {
        display: flex;
        flex-direction: column;
        min-height: 600px;
        grid-row-gap: $GRID_ROW_GAP;
        grid-column-gap: $GRID_COL_GAP;
    }
}
