@import "~shared/style/colors";
@import "~shared/style/mixins";
@import "~shared/style/variables";

$TEXT_CONTAINER_MAX_WIDTH: 200px;
$TEXT_CONTAINER_PADDING: 10px;

.index-parent-container {
    .top-container {
        display: flex;
        flex-direction: column;

        .image-container {
            position: relative;

            .image-size {
                max-height: 600px;
                width: 100%;
            }

            .text {
                @include generalFont;
                position: absolute;
                top: 10vh;
                left: 10vw;
                width: fit-content;
                height: fit-content;
                max-width: $TEXT_CONTAINER_MAX_WIDTH;
                padding: $TEXT_CONTAINER_PADDING;
                background-color: $LIGHTEST_FORGROUND_COLOR;
                border: $MAIN_BORDER_WIDTH solid $PRIMARY_COLOR;
                border-radius: 2px;
            }
        }
    }
}
