$PRIMARY_COLOR: #154f30;

// MAIN COLORS
$LIGHTEST_FORGROUND_COLOR: #ffffff;
$LIGHTER_FORGROUND_COLOR: #f8f8f8;
$LIGHT_FORGROUND_COLOR: #ebebeb;
$MID_FORGROUND_COLOR: #b3b3b3;

// TEXT
$PRIMARY_TEXT_COLOR: #333333;
$SECONDARY_TEXT_COLOR: #727272;

$PROGRAMS_TOP_BORDER: $PRIMARY_COLOR;
