// DESKTOP FONTS
$PAGE_TITLE_FONT_SIZE: 36px;
$HEADING_FONT_SIZE: 25px;
$DATA_TABLE_RESULT_FONT_SIZE: 19px;
$DATA_TABLE_COL_HEADER_FONT_SIZE: 16px;
$GENERAL_FONT_SIZE: 16px;

// FONTS
$REGULAR_FONT: "Roboto", sans-serif;