$MARGIN_HORIZONTAL: 50px;

// HEADER
$HEADER_HEIGHT: 100px;
$HEADER_TOP_BORDER: 10px;

// FOOTER
$FOOTER_HEIGHT: 150px;

// BOX SHADOW
$BOX_SHADOW: 0px 2px 4px 0px rgba(#000000, 0.12),
    0px 2px 6px 0px rgba(#000000, 0.24);

$MAIN_BORDER_WIDTH: 2px;
