@import "~shared/style/mixins";
@import "~shared/style/colors";

.header-button-container {
    padding-left: 20px;

    .header-button {
        @include headerButton;
        border: none;
        background-color: transparent;
        cursor: pointer;
        text-decoration: none;
        color: $PRIMARY_TEXT_COLOR;
    }
}
