@import "~shared/style/mixins";
@import "~shared/style/variables";
@import "~shared/style/colors";

.language-button-container {
    margin: auto $MARGIN_HORIZONTAL auto auto;
    background-color: $PRIMARY_COLOR;
    border-radius: 4px;

    .language-button {
        @include headerButton;
        border: none;
        cursor: pointer;
        background-color: transparent;
    }
}
