@import url("https://fonts.googleapis.com/css?family=Roboto");

@import "~shared/style/variables";

$CONTENT_VERTICAL_PADDING: 25px;

html {
    min-width: 1070px;
    font-family: "Roboto", sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #eaeaea;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.body-parent-container {
    display: block;
    overflow: scroll;
    padding: $CONTENT_VERTICAL_PADDING $MARGIN_HORIZONTAL $CONTENT_VERTICAL_PADDING $MARGIN_HORIZONTAL;
    height: calc(
        100vh -
            (
                #{$HEADER_HEIGHT} + #{$HEADER_TOP_BORDER} + #{$FOOTER_HEIGHT} + #{$CONTENT_VERTICAL_PADDING} + #{$CONTENT_VERTICAL_PADDING} +
                    1px
            )
    );
}

::-webkit-scrollbar {
    display: none;
}
