@import "~shared/style/variables";

$CONTENT_VERTICAL_PADDING: 25px;

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.body-parent-container {
    position: relative;
    height: fit-content;
    padding: $CONTENT_VERTICAL_PADDING $MARGIN_HORIZONTAL
        $CONTENT_VERTICAL_PADDING $MARGIN_HORIZONTAL;
    display: flex;
    flex-direction: column;

    /* Hide content that overflows and hide all scrollbars for all browsers */
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
