@import "~shared/style/mixins";
@import "~shared/style/colors";

.profile-description-container {
    height: 250px;
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;

    .profile-name {
        @include headerButton;
        margin-bottom: 15px;
    }

    .bottom-container {
        display: flex;
        flex-direction: row;
        height: 200px;
        max-width: 700px;
        min-width: 500px;
        border: 2px solid $PRIMARY_COLOR;
        align-items: center;
        padding: 10px;

        .profile-picture {
            height: 150px;
            width: 150px;
            padding-right: 25px;
        }

        .profile-description {
            width: 500px;

            text-align: justify;
            word-break: keep-all;
        }
    }
}
