@import "~src/shared/style/colors";
@import "~src/shared/style/mixins";
@import "~src/shared/style/variables";

.header-parent-container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $GREY;

    .left-container {
        margin-left: $MARGIN_HORIZONTAL;
        display: flex;
        flex-direction: row;
        align-items: center;
        .header-title {
            @include pageTitle;
        }
    }
}
