@import "~src/shared/style/colors";
@import "~src/shared/style/mixins";
@import "~src/shared/style/variables";

$HEADER_BUTTONS_PADDING_TOP: 10px;

.header-parent-container {
    position: fixed;
    width: 100%;
    height: $HEADER_HEIGHT;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: $HEADER_TOP_BORDER solid $PRIMARY_COLOR;
    border-bottom: 1px solid $LIGHT_FORGROUND_COLOR;

    .left-container {
        margin-left: $MARGIN_HORIZONTAL;
        display: flex;
        flex-direction: row;
        align-items: center;

        .header-title {
            @include pageTitle;
            text-decoration: none;
            color: $PRIMARY_TEXT_COLOR;
        }

        .header-buttons {
            padding-top: $HEADER_BUTTONS_PADDING_TOP;
            display: flex;
        }
    }
}
