@import "~src/shared/style/colors";
@import "~src/shared/style/mixins";
@import "~src/shared/style/variables";

.header-parent-container {
    width: 100%;
    height: $HEADER_HEIGHT;
    display: flex;
    border-top: $HEADER_TOP_BORDER solid $PRIMARY_COLOR;
    border-bottom: 1px solid $MID_FORGROUND_COLOR;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;

    background-color: white;

    .logo {
        height: 85px;
        width: 70px;
    }

    .left-container {
        margin: auto 0 auto $MARGIN_HORIZONTAL;
        display: flex;
        align-items: center;

        .header-title {
            @include pageTitle;
            text-decoration: none;
            color: $PRIMARY_TEXT_COLOR;
        }

        .header-buttons {
            display: flex;
        }
    }
}
