@import "~shared/style/colors";
@import "~shared/style/mixins";
@import "~shared/style/variables";

$PADDING_TEXT_VERT: 10px;

.footer-parent-container {
    background-color: $PRIMARY_COLOR;
    width: 100%;
    height: $FOOTER_HEIGHT;

    .footer-info {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        height: $FOOTER_HEIGHT;

        .column {
            height: $FOOTER_HEIGHT;
            line-height: $FOOTER_HEIGHT;
            @include generalFont;
            width: calc(100% / 3);
            border-right: 1px solid $MID_FORGROUND_COLOR;

            &:last-child {
                border: none;
            }
        }
    }
}
