@import "~shared/style/mixins";

.header-button-container {
    padding-left: 20px;

    .header-button {
        @include headerButton;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}
