@import "~shared/style/mixins";
@import "~shared/style/colors";
@import "~shared/style/variables";

$PROGRAM_CONTAINER_HEIGHT: 400px;
$PROGRAM_TITLE_HEIGHT: 40px;

.programs-parent-container {
    margin-top: 25px;
    height: $PROGRAM_CONTAINER_HEIGHT;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .programs-title {
        display: flex;
        margin: 0 auto 10px auto;
        font-size: 30px;
        font-weight: bold;

        height: $PROGRAM_TITLE_HEIGHT;
        width: fit-content;
    }

    .programs-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        min-width: 900px;

        .single-program {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30%;
            border-top: 4px $PROGRAMS_TOP_BORDER solid;

            .single-program-title {
                width: 100%;
                padding: 10px 0px 10px 0px;
                background-color: white;

                .title {
                    margin-left: 10px;
                    @include headerButton;
                    @include headerButton;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                    text-decoration: none;
                    color: $SECONDARY_TEXT_COLOR;

                    &:hover {
                        color: $PRIMARY_COLOR;
                    }
                }
            }

            .single-program-image {
                width: 100%;
                height: 300px;

                .image {
                    padding: $MAIN_BORDER_WIDTH;
                    height: 300px - ($MAIN_BORDER_WIDTH * 2);
                    width: calc(100% - (2 * #{$MAIN_BORDER_WIDTH}));
                    z-index: -1;
                }
            }
        }
    }
}
